@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
  }
}

::selection {
  background-color: rgba(15, 23, 42, 0.1);
  color: #0f172a;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0f172a10;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a20;
}
